<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <form id="signupForm" method="post" enctype="multipart/form-data">
                    <div class="form-head" style="display: flex; justify-content: space-around">
                        <div class="form-group">
                            <input  id="id" hidden name="id"
                                    th:value="${yieldHeader.id}" type="text">
                            <label>单据编号:</label><input id="yieldCode" name="yieldCode"
                                                       th:value="${yieldHeader.yieldCode}" type="text">
                        </div>
                        <div class="form-group">
                            <label>核算期间:</label><input  th:value="${yieldHeader.yieldDate}" id="yieldDate" name="yieldDate" type="date">
                        </div>

                        <!--<div class="form-main">-->
                        <!--<div class="form-group" style="margin-bottom: 0">-->
                        <!--<input type="file" id="exampleInputFile" name="file" value="" style="width: 180px; margin-bottom: 2px">-->
                        <!--<span class="span" style="color: red;font-size: 14px;">-->
                        <!--*必须指定 Excel文件!-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--<div class="form-group" style="margin-bottom: 2px;">-->
                        <!--<button type="button" id="btnImport">开始导入</button>-->
                        <!--</div>-->
                        <!--</div>-->

                    </div>
                    <hr style="margin: 0"/>

                    <hr style="margin: 0"/>
                    <div class="fixed-table-toolbar" hidden>
                        <div class="columns pull-left">
                            <button type="button" class="btn  btn-primary" onclick="add()">
                                <i class="fa fa-plus" aria-hidden="true"></i>添加
                            </button>
                            <!--<button type="button" class="btn  btn-danger"-->
                            <!--onclick="batchRemove()">-->
                            <!--<i class="fa fa-trash" aria-hidden="true"></i>删除-->
                            <!--</button>-->
                        </div>
                    </div>
                    <table id="exampleTable" class="table table-striped table-bordered table-condensed" data-mobile-responsive="true">
                        <tr>
                            <th> </th>
                            <th>日期</th>
                            <th>人员编码</th>
                            <th>姓名</th>
                            <th>工序编码</th>
                            <th>工序名称</th>
                            <th>产品编码</th>
                            <th>产品名称</th>
                            <th>产量</th>

                        </tr>
                    </table>
                    </table>
                    <hr style="margin-top: 0; margin-bottom: 10px"/>
                    <div class="form-footer" style="display: flex; justify-content: space-around">
                        <div class="form-group">
                            <label>审核人:</label><input id="auditor" name="auditor" th:value="${yieldHeader.auditor}"
                                                      type="text">
                        </div>
                        <div class="form-group">
                            <label>审核日期:</label><input th:value="${#dates.format(yieldHeader.auditDate,'yyyy-MM-dd')}" id="auditDate" name="auditDate" type="date">
                        </div>
                        <div class="layui-upload layui-inline layui-show-xs-block" hidden>
                            <button onclick="saveTable()" class="btn btn-primary radius" type="button" >提交</button>
                        </div>
                    </div>
                </form>
                   

                             

            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<!--<script type="text/javascript" src="/static/js/appjs/system/yield/yield.js"></script>-->

<script type="text/javascript" th:inline="javascript">
    var ids =[[${ids}]];
    $(function () {
        loadTableIds(ids);
    });

    function add() {
        layer.open({
            type : 2,
            title : '增加',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : '/system/yield/add' // iframe的url
        });
    }

    function loadTable(msg) {
        $.ajax({
            cache : false,
            type : "GET",
            url : "/system/yield/get/"+msg,
            async : false,
            success : function(data) {
                var html='<tr><td><input  name="ids" checked="checked"   type="checkbox" value="'+data.id+'"></td><td>'+data.dateMark+'</td><td>'+data.peopleCode+'</td><td>'+data.name+'</td><td>'+data.proCode+'</td><td>'+data.proName+'</td>><td>'+data.productCode+'</td>><td>'+data.productName+'</td>><td>'+data.harvest+'</td></tr>';
                $("#exampleTable").append(html);
            }
        });
    }
    // // var date1 = date.slice(0,date.lastIndexOf('-'))
    function saveTable() {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/system/yieldHeader/update",
            data: $('#signupForm').serialize(),// 你的formid
            async: false,
            error: function (request) {
                parent.layer.alert("Connection error");
            },
            success: function (data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }

    function loadTableIds(ids) {
        $.ajax({
            cache : false,
            type : "POST",
            url : "/system/yield/getByIds",
            data: {
                "ids": ids
            },
            async : false,
            success : function(data) {
                var html='';
                for(var i=0;i<data.length;i++){
                    html+='<tr><td><input name="ids" checked="checked" type="checkbox" value="'+data[i].id+'"></td><td>'+data[i].dateMark+'</td><td>'+data[i].peopleCode+'</td><td>'+data[i].name+'</td><td>'+data[i].proCode+'</td><td>'+data[i].proName+'</td><td>'+data[i].productCode+'</td><td>'+data[i].productName+'</td><td>'+data[i].harvest+'</td></tr>';
                }
                $("#exampleTable").append(html);
            }
        });
    }


</script>
</body>
</html>