<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="col-sm-12">
		<div class="ibox">
			<div class="ibox-body">

				<form class="form-horizontal m-t" id="signupForm">
					<div class="form-head" style="display: flex; justify-content: space-around">
						<div class="form-group">
							<label>单据编号:</label> <input name="billCode" type="text" class="form-control" id="mydate" ></div>
						<div class="form-group">
							<label>单据日期:</label><input name="billDate" type="date" class="form-control" id="billDate" ></div>
						<div class="form-group">
							<label>核算期间:</label><input name="accountingDate" type="date" class="form-control" id="accountingDate" ></div>
					</div>
					<hr style="margin: 0"/>

					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button type="button" class="btn  btn-danger"
									onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								   placeholder="姓名">
						</div>
					</div>
					<table id="exampleTable" class="table table-striped table-bordered table-condensed" data-mobile-responsive="true">
						<tr>
							<th> </th>
							<th>单据编号</th>
							<th>日期</th>
							<th>人员编码</th>
							<th>姓名</th>
							<th>产品编码</th>
							<th>产品名称</th>
							<th>产量</th>
							<th>产品单价</th>
							<th>金额</th>
						</tr>

					</table>

					<hr style="margin-top: 0; margin-bottom: 10px"/>
					<div class="form-footer" style="display: flex; justify-content: space-around">
						<div class="form-group">
							<label>审核人:</label><input name="auditor" type="text" class="form-control" id="auditor" ></div>
						<div class="form-group">
							<label>审核日期:</label><input name="auditDate" type="date" class="form-control" id="auditDate"></div>
						<div class="layui-upload layui-inline layui-show-xs-block">
							<button onclick="saveTable()"  class="btn btn-primary radius" type="button">提交</button>
						</div>
					</div>
				</form>   

			</div>
		</div>
	</div>
</div>

<div th:include="include :: footer"></div>
<!--<script type="text/javascript"  src="/static/js/appjs/system/wages/wages.js"></script>-->

<script type="text/javascript">
    var prefix = "/system/wages";
    function add() {
        layer.open({
            type : 2,
            title : '增加',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : prefix + '/add' // iframe的url
        });
    }
    function loadTable(msg) {
        $.ajax({
            cache : false,
            type : "GET",
            url : "/system/wages/get/"+msg,
            async : false,
            success : function(data) {
                var html='<tr><td><input  name="ids" checked="checked"   type="checkbox" value="'+data.id+'"></td><td>'+data[i].billCode+'</td><td>'+data[i].dateMark+'</td><td>'+data[i].peopleCode+'</td><td>'+data[i].name+'</td><td>'+data[i].productCode+'</td><td>'+data[i].productName+'</td><td>'+data[i].harvest+'</td><td>'+data[i].productPrice+'</td><td>'+data[i].money+'</td></tr>';
                $("#exampleTable").append(html);
            }
        });
    }
    function loadTableIds(ids) {
        $.ajax({
            cache : false,
            type : "POST",
            url : "/system/wages/getByIds",
            data: {
                "ids": ids
            },
            async : false,
            success : function(data) {
                var html='';
                for(var i=0;i<data.length;i++){
                    html+='<tr><td><input name="ids" checked="checked" type="checkbox" value="'+data[i].id+'"></td><td>'+data[i].billCode+'</td><td>'+data[i].dateMark+'</td><td>'+data[i].peopleCode+'</td><td>'+data[i].name+'</td><td>'+data[i].productCode+'</td><td>'+data[i].productName+'</td><td>'+data[i].harvest+'</td><td>'+data[i].productPrice+'</td><td>'+data[i].money+'</td></tr>';
                }
                $("#exampleTable").append(html);
            }
        });
    }

    function saveTable(){
        $.ajax({
            cache : true,
            type : "POST",
            url : "/system/wagesHeader/saveTable",
            data : $('#signupForm').serialize(),// 你的formid
            async : false,
            error : function(request) {
                parent.layer.alert("Connection error");
            },
            success : function(data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }

</script>
</body>
</html>