
<!DOCTYPE html>
<html lang="en" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">

                <form class="form-horizontal m-t" id="signupForm">
                    <div class="form-head" style="display: flex; justify-content: space-around">
                        <div class="form-group">
                            <input name="id" th:value="${wagesHeader.id}" type="hidden"  id="id" >
                            <label>单据编号:</label> <input name="billCode" th:value="${wagesHeader.billCode}" type="text" class="form-control" id="billCode" ></div>
                        <div class="form-group">
                            <label>单据日期:</label><input name="billDate" th:value="${wagesHeader.billDate}" type="date" class="form-control" id="billDate" ></div>
                        <div class="form-group">
                            <label>核算期间:</label><input name="accountingDate" th:value="${wagesHeader.accountingDate}" type="date" class="form-control" id="accountingDate" ></div>
                    </div>
                    <hr style="margin: 0"/>

                    <div class="fixed-table-toolbar">
                        <div class="columns pull-left">
                            <!--<button type="button" class="btn  btn-primary" onclick="add()">-->
                                <!--<i class="fa fa-plus" aria-hidden="true"></i>添加-->
                            <!--</button>-->

                        </div>
                        <table id="exampleTable" class="table table-striped table-bordered table-condensed" data-mobile-responsive="true">
                        </table>

                        <hr style="margin-top: 0; margin-bottom: 10px"/>
                        <div class="form-footer" style="display: flex; justify-content: space-around">
                            <div class="form-group">
                                <label>审核人:</label><input name="auditor" th:value="${wagesHeader.auditor}" type="text" class="form-control" id="auditor" ></div>
                            <div class="form-group">
                                <label>审核日期:</label><input name="auditDate" th:value="${#dates.format(wagesHeader.auditDate,'yyyy-MM-dd')}" type="date" class="form-control" id="auditDate"></div>
                            <div class="layui-upload layui-inline layui-show-xs-block">
                                <!--<button onclick="saveTable()"  class="btn btn-primary radius" type="button">提交</button>-->
                            </div>
                        </div>
                </form>   

            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var ids=[[${ids}]];
</script>
<script type="text/javascript">
    var prefix = "/system/wages";
    var item = localStorage.getItem("selectIndex");
    $("#exampleTable").append('<tr><th></th><th>日期</th><th>人员编码</th><th>姓名</th><th>工序编码</th><th>工序名称</th><th>工序单价</th><th>产品编码</th><th>产品名称</th><th>产品单价</th><th>产量</th><th>金额</th></tr>');

    $(function () {
        loadTableIds(ids);
    });
    function saveTable(){
        $.ajax({
            cache : true,
            type : "POST",
            url : "/system/wagesHeader/update",
            data : $('#signupForm').serialize(),// 你的formid
            async : false,
            error : function(request) {
                parent.layer.alert("Connection error");
            },
            success : function(data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });
    }
    function add() {
        layer.open({
            type : 2,
            title : '增加',
            maxmin : true,
            shadeClose : false, // 点击遮罩关闭层
            area : [ '800px', '520px' ],
            content : prefix + '/add' // iframe的url
        });
    }
    function loadTable(msg) {
        $.ajax({
            cache : false,
            type : "GET",
            url : "/system/wages/get/"+msg,
            async : false,
            success : function(data) {
                var html='';
                if(item=='0'){
                    html='<tr><td><input  name="ids" checked="checked"   type="checkbox" value="'+data.id+'"></td><td>'+data.dateMark+'</td><td>'+data.peopleCode+'</td><td>'+data.name+'</td><td>'+data.proCode+'</td><td>'+data.proName+'</td><td>'+data.proPrice+'</td><td>'+data.productCode+'</td><td>'+data.productName+'</td><td>'+data.productPrice+'</td><td>'+data.harvest+'</td><td>'+data.money+'</td></tr>';
                }else if(item=='1'){
                    html='<tr><td><input  name="ids" checked="checked"   type="checkbox" value="'+data.id+'"></td><td>'+data.dateMark+'</td><td>'+data.peopleCode+'</td><td>'+data.name+'</td><td>'+data.proCode+'</td><td>'+data.proName+'</td><td>'+data.proPrice+'</td><td>'+data.productCode+'</td><td>'+data.productName+'</td><td>'+data.productPrice+'</td><td>'+data.harvest+'</td><td>'+data.money+'</td></tr>';
                }
                $("#exampleTable").append(html);
            }
        });
    }
    function loadTableIds(ids) {
        $.ajax({
            cache : false,
            type : "POST",
            url : "/system/wages/getByIds",
            data: {
                "ids": ids
            },
            async : false,
            success : function(data) {
                var html='';
                for(var i=0;i<data.length;i++){
                    if(item=='0'){
                        html+='<tr><td><input  name="ids" checked="checked"   type="checkbox" value="'+data[i].id+'"></td><td>'+data[i].dateMark+'</td><td>'+data[i].peopleCode+'</td><td>'+data[i].name+'</td><td>'+data[i].proCode+'</td><td>'+data[i].proName+'</td><td>'+data[i].proPrice+'</td><td>'+data[i].productCode+'</td><td>'+data[i].productName+'</td><td>'+data[i].productPrice+'</td><td>'+data[i].harvest+'</td><td>'+data[i].money+'</td></tr>';
                    }else if(item=='1'){
                        html+='<tr><td><input  name="ids" checked="checked"   type="checkbox" value="'+data[i].id+'"></td><td>'+data[i].dateMark+'</td><td>'+data[i].peopleCode+'</td><td>'+data[i].name+'</td><td>'+data[i].proCode+'</td><td>'+data[i].proName+'</td><td>'+data[i].proPrice+'</td><td>'+data[i].productCode+'</td><td>'+data[i].productName+'</td><td>'+data[i].productPrice+'</td><td>'+data[i].harvest+'</td><td>'+data[i].money+'</td></tr>';
                    }
                }
                $("#exampleTable").append(html);
            }
        });
    }

</script>
</body>
</html>