<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hlwxy.xr_piece.system.dao.YieldDao">

	<select id="get" resultType="com.hlwxy.xr_piece.system.domain.YieldDO">
		select `id`,`yield_code`,`date_mark`,`people_code`,`name`,`pro_code`,`pro_name`,`product_code`,`product_name`,`harvest` from yield where id = #{value}
	</select>

	<select id="list" resultType="com.hlwxy.xr_piece.system.domain.YieldDO">
		select `id`,`yield_code`,`date_mark`,`people_code`,`name`,`pro_code`,`pro_name`,`product_code`,`product_name`,`harvest` from yield
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="yieldCode != null and yieldCode != ''"> and yield_code = #{yieldCode} </if>
		  		  <if test="dateMark != null and dateMark != ''"> and date_mark = #{dateMark} </if>
		  		  <if test="peopleCode != null and peopleCode != ''"> and people_code = #{peopleCode} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="proCode != null and proCode != ''"> and pro_code = #{proCode} </if>
		  		  <if test="proName != null and proName != ''"> and pro_name = #{proName} </if>
		  		  <if test="productCode != null and productCode != ''"> and product_code = #{productCode} </if>
		  		  <if test="productName != null and productName != ''"> and product_name = #{productName} </if>
			      <if test="harvest != null and harvest != ''"> and harvest = #{harvest} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id ASC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from yield
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="yieldCode != null and yieldCode != ''"> and yield_code = #{yieldCode} </if>
		  		  <if test="dateMark != null and dateMark != ''"> and date_mark = #{dateMark} </if>
		  		  <if test="peopleCode != null and peopleCode != ''"> and people_code = #{peopleCode} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="proCode != null and proCode != ''"> and pro_code = #{proCode} </if>
		  		  <if test="proName != null and proName != ''"> and pro_name = #{proName} </if>
		  		  <if test="productCode != null and productCode != ''"> and product_code = #{productCode} </if>
		  		  <if test="productName != null and productName != ''"> and product_name = #{productName} </if>
			      <if test="harvest != null and harvest != ''"> and harvest = #{harvest} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.hlwxy.xr_piece.system.domain.YieldDO" useGeneratedKeys="true" keyProperty="id">
		insert into yield
		(
			`yield_code`, 
			`date_mark`, 
			`people_code`, 
			`name`, 
			`pro_code`, 
			`pro_name`, 
			`product_code`, 
			`product_name`, 
			`harvest`
		)
		values
		(
			#{yieldCode}, 
			#{dateMark}, 
			#{peopleCode}, 
			#{name}, 
			#{proCode}, 
			#{proName}, 
			#{productCode}, 
			#{productName}, 
			#{harvest}
		)
	</insert>
	 
	<update id="update" parameterType="com.hlwxy.xr_piece.system.domain.YieldDO">
		update yield 
		<set>
			<if test="yieldCode != null">`yield_code` = #{yieldCode}, </if>
			<if test="dateMark != null">`date_mark` = #{dateMark}, </if>
			<if test="peopleCode != null">`people_code` = #{peopleCode}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="proCode != null">`pro_code` = #{proCode}, </if>
			<if test="proName != null">`pro_name` = #{proName}, </if>
			<if test="productCode != null">`product_code` = #{productCode}, </if>
			<if test="productName != null">`product_name` = #{productName}, </if>
			<if test="harvest != null">`harvest` = #{harvest} </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from yield where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from yield where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<!--导入表格(产品)-->
	<insert id="importTable" parameterType="java.util.List">
		INSERT INTO `yield` (yield_code,date_mark,people_code,`name`,product_code,product_name,harvest) VALUES
		<foreach collection="list" item="yieldDOS" index="index" separator=",">
			(
				#{yieldDOS.yieldCode},
				#{yieldDOS.dateMark},
				#{yieldDOS.peopleCode},
				#{yieldDOS.name},
				#{yieldDOS.productCode},
				#{yieldDOS.productName},
				#{yieldDOS.harvest}
             )
		</foreach>
	</insert>

	<!--导入表格(工序)-->
	<insert id="importProTable" parameterType="java.util.List">
		INSERT INTO `yield` (yield_code,date_mark,people_code,`name`,pro_code,pro_name,harvest) VALUES
		<foreach collection="list" item="yieldDOS" index="index" separator=",">
			(
			#{yieldDOS.yieldCode},
			#{yieldDOS.dateMark},
			#{yieldDOS.peopleCode},
			#{yieldDOS.name},
			#{yieldDOS.proCode},
			#{yieldDOS.proName},
			#{yieldDOS.harvest}
			)
		</foreach>
	</insert>

	<!--插入表头-->
	<insert id="addYieldHeaderDO" parameterType="com.hlwxy.xr_piece.system.domain.YieldHeaderDO">
		INSERT INTO `yield_header` (yield_code,yield_date,auditor,audit_date) VALUES
			(
			#{yieldCode},
			#{yieldDate},
			#{auditor},
			#{auditDate}
			)
	</insert>

	<!--查询是否存在该表头-->

</mapper>