<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .bg{
        background: #18c8f6;
        height: auto;
        background:url("/static/img/backg02.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: rgba(255,255,255,.95);
    }
</style>
<body class="bg">

<div th:include="include :: footer"></div>
</body>
</html>