
.ddd_input {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    /*background-color: #99979c;*/
    width: 70%;
    /*position: fixed;*/
    /*border: solid 1px red;*/
    border-bottom: solid 1.5px #99979c;
}

.dec_ddd {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 60px;
    margin-top: 40px;
}

.daaa{
    position: fixed;
    display: none;
    width: 400px;
    height: 250px;
    background-color: #c7ddef;
    margin-left: 390px;
    margin-top: -80px;
    color: whitesmoke;
}
.data {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px black;
    padding-left: 15px;
    width: 160px;
}
.dec_ddd i{
    display: none;
}
.dec_ddd:hover i{
    display: inline;
}
