
.ddd_input {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    /*background-color: #99979c;*/
    width: 70%;
    /*position: fixed;*/
    /*border: solid 1px red;*/
    border-bottom: solid 1.5px #99979c;
}

.dec_ddd {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 60px;
    margin-top: 40px;
}

.data {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px black;
    padding-left: 15px;
    width: 160px;
}
.dec_ddd i{
    display: none;
}
.dec_ddd:hover i{
    display: inline;

}
/*模态框*/
/*.modal {*/
    /*display: none; !* 默认隐藏 *!*/
    /*position: fixed; !* 根据浏览器定位 *!*/
    /*z-index: 1; !* 放在顶部 *!*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%; !* 全宽 *!*/
    /*height: 100%; !* 全高 *!*/
    /*!*overflow: auto; !* 允许滚动 *!*!*/
    /*background-color: rgba(0,0,0,0.4); !* 背景色 *!*/
/*}*/
/*!*模态框内容*!*/
/*.modal-content {*/
    /*display: flex; !*采用flexbox布局*!*/
    /*flex-direction: row; !*垂直排列*!*/
    /*position: relative;*/
    /*background-color: #fefefe;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0px 1px 13px #333333;*/
    /*margin: 15% auto; !*距顶部15% 水平居中*!*/
    /*padding: 10px;*/
    /*border: 1px solid #888;*/
    /*width: 40%;*/
    /*left: -50px;*/
    /*top: -50px;*/
    /*height: 50%;*/
    /*animation: topDown 0.4s; !*自定义动画，从模态框内容上到下出现*!*/
/*}*/
/*@keyframes topDown {*/
    /*from {top: -300px; opacity: 0}*/
    /*to {top: 0; opacity: 1}*/
/*}*/
/*模态框*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 根据浏览器定位 */
    z-index: 1; /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%; /* 全宽 */
    height: 100%; /* 全高 */
    overflow: auto; /* 允许滚动 */
    background-color: rgba(0,0,0,0.4); /* 背景色 */
}
/*模态框内容*/
.modal-content {
    display: flex; /*采用flexbox布局*/
    flex-direction: row; /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0px 1px 13px #333333;
    margin: 15% auto; /*距顶部15% 水平居中*/
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
    left: -50px;
    top: -50px;
    height: 50%;
    animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
}
@keyframes topDown {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* 弹框分页*/
.pagination-container {
    position: absolute;
    left: 26%;
    top: 90%;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination span {
    background-color: #999;
    color: #fff;
    padding: 1px 6px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.pagination span.active {
    background-color: #85D1FF;
}

.page-change {
    margin: 0 15px;
    cursor: pointer;
}

.skip input {
    width: 50px;
}